.site-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;


  @media (min-width: 1024px) {
    padding: 15px 30px;
  }
  #map {width:70vh; height:70vh; position: relative;
    overflow: hidden;
    border-radius: 100%;
  }* {
    box-sizing: border-box;
  }

  .contact-footer{
    display: flex;
    flex-direction: column;
    width: 50%;
    a, #active-modal {
      display: flex;
      padding: 1rem 3rem !important;
      font-family: var(--font-family-base);
      font-size: 1.618125em !important;
      font-variation-settings: "wght" 340, "wdth" 75;
      background: url(../img/atelier-entrelacs-volutes-overlay.jpeg) center;
      color: white !important;
      border: none !important;
      border-radius: none !important;
      margin-bottom: 0.5em;
      height: 7rem;
      flex-direction: initial;
      justify-content: space-between;
      align-items: center;
      border-radius: 3em;
      .fa {transform: translateY(0.07em); 
    }}
    .mail{width: 13em !important;}
    .phone{width: 8.5em !important;}
    .insta{width: 7.15em !important}
    .facebook{width: 7em !important}
  }
.local{
  font-family: var(--font-family-base);
  font-size: 0.793125em;
  font-variation-settings: "wght" 590, "wdth" 100;
}
}