.site-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;


  @media (min-width: 1024px) {
    padding: 15px 30px;
  }
  #map {width:70vh; height:70vh; position: relative;
    overflow: hidden;
    border-radius: 100%;
  }* {
    box-sizing: border-box;
  }

  .contact-footer{
    display: flex;
    flex-direction: column;
    width: 50%;
    a, .btn-modal {
      display: flex;
      padding: 1rem 3rem !important;
      font-family: var(--font-family-base);
      font-size: 1.618125em !important;
      font-variation-settings: "wght" 340, "wdth" 75;
      background: rgb(59,109,198);
      background: -moz-linear-gradient(0deg, rgba(59,109,198,1) 0%, rgba(136,161,199,1) 100%);
      background: -webkit-linear-gradient(0deg, rgba(59,109,198,1) 0%, rgba(136,161,199,1) 100%);
      background: linear-gradient(0deg, rgba(59,109,198,1) 0%, rgba(136,161,199,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b6dc6",endColorstr="#88a1c7",GradientType=1);
      color: white !important;
      border: solid #E89C42 0.115em;
      border-radius: none !important;
      margin-bottom: 0.5em;
      height: 7rem;
      flex-direction: initial;
      justify-content: space-between;
      align-items: center;
      border-radius: 3em;
      position: relative;
      &::before{    position: absolute;
        display: block;
        content: "";
        border-radius: 3em;
        left: -0.25em;
        top: -0.25em;
        background: rgb(59,109,198);
      background: -moz-linear-gradient(0deg, rgba(59,109,198,1) 0%, rgba(136,161,199,1) 100%);
      background: -webkit-linear-gradient(0deg, rgba(59,109,198,1) 0%, rgba(136,161,199,1) 100%);
      background: linear-gradient(0deg, rgba(59,109,198,1) 0%, rgba(136,161,199,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b6dc6",endColorstr="#88a1c7",GradientType=1);
        
        /* border: solid 0.12em black; */
        width: calc(100% + 0.5em);
        height: calc(100% + 0.5em);
        z-index: -1;
      }
      .fa {transform: translateY(0.07em); 
    }}
    .mail{width: 13em !important;}
    .phone{width: 8.5em !important;}
    .insta{width: 7.15em !important}
    .facebook{width: 7em !important};
    .contact-save , .appel{width: 10.5em !important;}
  }
.local{
  font-family: var(--font-family-base);
  font-size: 0.793125em;
  font-variation-settings: "wght" 590, "wdth" 100;
}
}