<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="fr">

	{% include "partials/head.njk" %}


			{{ layoutContent | safe }}
		</main>

		{% include "partials/footer.njk" %}
	</body>

</html>
