---
layout: base.njk
section: contact
---
	<body>
		{% include "partials/site-header.njk" %}
		{% include "partials/drawer.njk" %}

<div class="page-container">
  <h1>{{ title }}</h1>
  <hr/>
  {{ layoutContent | safe }}

  {% include "partials/form.njk" %}
</div>