---
layout: base.njk
section: gallery
---

	<body>
		{% include "partials/site-header.njk" %}
		{% include "partials/drawer.njk" %}

<div class="page-container">
<div class="gallerie">
<a href="https://www.instagram.com/atelier_entrelacs/" target="_blank">
	{% image
        "src/assets/img/canape-juillet.png",
        "Canapé atelier Entrelacs spécialisé en tapisserie d'ameublement à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
</a>
<a href="https://www.instagram.com/p/CvR_oBmIxwN/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/chaise-juillet.png",
        "Chaise de l'atelier Entrelacs spécialisé en tapisserie d'ameublement à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/Cs_RAWhoYSW/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/chaise-juin02.png",
        "Chaise de l'atelier Entrelacs spécialisé en tapisserie d'ameublement à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
  <a href="https://www.instagram.com/p/CkkoaEko_sE/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/volt02.png",
        "Vue de l'atelier Entrelacs spécialisé en tapisserie d'ameublement à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
  	<a href="https://www.instagram.com/p/CstmAjRotrs/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/chaise-juin01.png",
        "Chaise au paon de l'atelier Entrelacs spécialisé en tapisserie d'ameublement à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CclF6R9I7iI/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/fauteuil04.png",
        "Réfection, création de fauteuils, rideaux et coussins par Entrelacs à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CqTWrXsIaXb/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/banquette-02.jpg",
        "Découvrez notre service de décoration intérieure sur mesure à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CoIMSYwogf4/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/fauteuil02.png",
        "Canapés et tentures murales, spécialités de notre tapisserie d'ameublement à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CoIMSYwogf4/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/fauteuil03.png",
        "Nous utilisons des tissus de haute qualité pour notre travail de tapissier décorateur à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/atelier_entrelacs/" target="_blank">
	{% image
        "src/assets/img/coussi-moumout.png",
        "Entrelacs, artisan tapissier d'ameublement renommé à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CgtstffIsiB/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/fauteuil-contempo.png",
        "Nous restaurons les sommiers anciens à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CgHTcCcoQCJ/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/cloues.png",
        "Nos services comprennent la réfection de fauteuils artisanaux à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CpxSDW9Ix1b/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/chaise-bleues.png",
        "Papiers peints et tentures murales faits à la main à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CgcoAd9omam/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/chaufeuse.png",
        "Réfection de sièges anciens et modernes à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CrLzw00IuVh/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/empire.png",
        "Création de têtes de lit capitonnées sur mesure à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CfOm3z0ol1T/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/fauteuil-dore.png",
        "Confection de rideaux et coussins sur mesure à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/Cq3XK03o4Pf/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/tigre.png",
        "Vente de tissus d'ameublement de haute qualité à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CkkoaEko_sE/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/chaise-vintage.png",
        "Tapisserie artisanale et sellerie à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CjaduaGIDuT/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/tabou-wax.png",
        "Participez à nos cours de tapisserie à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CgHTcCcoQCJ/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/louisXV.png",
        "Profitez de nos services professionnels de décoration intérieure à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/p/CgHTcCcoQCJ/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">
	{% image
        "src/assets/img/chaise-1.png",
        "Confection de rideaux et stores sur mesure à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/atelier_entrelacs/" target="_blank">
	{% image
        "src/assets/img/capit.png",
        "Nous offrons une expertise en habillement et ébénisterie à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/atelier_entrelacs/" target="_blank">
	{% image
        "src/assets/img/couss03.png",
        "Recouvrement de meubles artisanaux à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>
	<a href="https://www.instagram.com/atelier_entrelacs/" target="_blank">
	{% image
        "src/assets/img/chaise-2-2.png",
        "Nous restaurons les fauteuils anciens et neufs à Rennes.",
		"(min-width: 1024px) 50vw, 100vw",
        "img-gal",
        "eager"
      %}
	</a>

</div>


</div>

{% include "partials/footer.njk" %}