---
layout: base.njk
section: page
---
	<body>
		{% include "partials/site-header.njk" %}
		{% include "partials/drawer.njk" %}

<div class="page-container">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
  <hr/>
  {{ layoutContent | safe }}
</div>
