---
layout: base.njk
section: home
---

<body>
<div class="home-page">
  {# Hero #}
  <div class="hero">
      {% image
        "src/assets/img/atelier-entrelacs-volutes-overlay.jpeg",
        "couture, tissus, tapissier, décorateur, canapés, décors, voilages, décoration d intérieur, tissus d ameublement, décoration intérieure, stores, textiles, tentures, choix de tissus, tapissiers, tapissier décorateur, intérieurs, garniture, décorateurs, contemporains, crin, tapissier d ameublement, métiers d art, artisan tapissier, murales, passementerie, literie, finitions, tapisseries, rideaux et voilages, rideau, garnissage, artisanat, garnitures, confectionner, housses, clous, garnisseur, tête de lit, habillage, textile, papiers peints, tentures murales, peints, tringles, habiller, tenture, sommiers, cannage, vente de tissus, velours, galon, designers, meubles anciens, coussin",
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image",
        "eager"
      %}
    <div class="hero__logo">
      <h1><span class="alr">Atelier</span><br>Entrelacs</h1>
      <h2>Tapisserie d'ameublement Fauteuils - rideaux - coussins</h2>
    </div>
          {% image
        "src/assets/img/atelier-entrelacs-volutes-front.png",
        "parois japonaises, éphémères, fournitures, restauration de meubles, bloquer les cookies, plissé, artisanat d art, lelièvre, bultex, permanents, moquette, retapisser, simili, bac pro, sommier, occultant, céramiques, stores bateaux, traceurs, personnalisés, habillement, ébénisterie, patine, chaise louis, rideaux et stores, recouvrir, bac professionnel, plafonds tendus, paillage, manuelle, cookies tiers, retapisser un fauteuil, reconversion, jacquard, chambre de métiers, maître artisan, plis, habille, grand choix de tissus, formations professionnelles, casamance, restaurer un fauteuil, literies, polyester, coloris, chauffeuse, parois, fauteuil crapaud, stagiaires, confection sur mesure, couturière, confection de coussins, décorer, machine à coudre, voilages sur mesure",
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image__front",
        "eager"
      %}
  </div>
		{% include "partials/site-header.njk" %}
		{% include "partials/drawer.njk" %}

<section>
  <div class="col">
    {% image
        "src/assets/img/fauteuil01.png",
        "tenture murale, décoratifs, règles de l art, atelier de tapisserie, murale, restauré, galons, tapissier garnisseur, dma, têtes de lit, carcasse, plafonds, lin, muraux, crapaud, artisanale, moquettes, tous styles, abat jour, tendu, sellerie, ressorts, ébéniste, artisanal, dessus de lit, tendus, tapissiers décorateurs, coudre, jute, tringle, métier d art, showroom, architecte d intérieur, architectes, tissu d ameublement, mobiliers, louis xv, garnir, redonner vie, rideaux sur mesure, large gamme, doubles rideaux, aménagement intérieur, cours de tapisserie, pouf, union nationale, pierre frey, agencement, japonaises, rénover, fauteuils et canapés, tringlerie, voilage, mesure d audience, éléments de décoration",
        "(min-width: 1024px) 50vw, 100vw",
        "img-col",
        "eager"
      %}
  </div>
  <article>
  <h2>Alice Jardillier</h2>
  <h3>artisane tapissière d’ameublement<br>diplômée d'État</h3>
  <p>Je propose mes services de réfection de fauteuils (anciens ou récents) et de confection de rideaux et coussins.</p>
  <p>J’interviens à Rennes et en Bretagne.</p>
  <p>Contactez-moi pour obtenir un devis gratuit. Je suis à l’écoute pour vous proposer une offre sur-mesure, adaptée à vos goûts et votre cadre de vie.</p>
  </article>
  <div class="col">
    {% image
        "src/assets/img/atelier-1.png",
        "stagiaire, louis xvi, fauteuil voltaire, revêtements, rideau d ameublement, dégarnir, habileté, établir un devis, refaire un fauteuil, recouvrir un fauteuil, neufs, passementeries, double rideaux, restauration de fauteuils, patines, techniques traditionnelles, sellier, artisan d art, histoire de l art, voltaire, architectes d intérieur, couturier, louis xiii, titre professionnel, personnes maximum, menuiserie, matériel professionnel, bourbon lancy, cérusé, oeillets, nos réalisations, bourbon, abat jour sur mesure, spécialiser, niveau de formation, taupe, crochet, minutie, maîtrise technique, conseils personnalisés, bts, tissu tendu, bridge, tissage, clou tapissier, réfection de sièges, qualité du travail, brevet technique, père et fils, dextérité manuelle, voilages et rideaux, nouvelle collection, chiné, plaids, contemporaines",
        "(min-width: 1024px) 50vw, 100vw",
        "img-col",
        "eager"
      %}
  </div>
</section>

  {#Insta #}
 	<div id="instafeed-container"></div>

  <script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
	<script type="text/javascript">
	var userFeed = new Instafeed({
		get: 'atelier_entrelacs',
    limit:3,
		target: "instafeed-container",
    resolution: 'low_resolution',
    
    accessToken: 'IGQVJVdEZAxRENRR2dka2RuN3F1cGZACN3RQNXBxYnlHLVg0YUw2RDdMZAjZALdngxZAkRkN2ZA0LTNGY2xqZA3dJWDUycTBuV2RkZA3dRdHNVbERGVTVtNVhBUXE2Sy10MEhOc2oza2p3SWFaSXFLN29JWEJaNwZDZD'
	});
	userFeed.run();
	</script>

  {# 
<figure data-behold-id="3bE8LB0sUoPPMIxdqmzc"></figure>
<script src="https://w.behold.so/widget.js" type="module"></script>
#}
{% include "partials/footer.njk" %}w

<script type="text/javascript">
</script>
