---
layout: base.njk
section: home
---
<body>
<div class="home-page">
  {# Hero #}
  <div class="hero">
      {% image
        "src/assets/img/atelier-entrelacs-volutes-overlay.jpeg",
        "flfl",
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image",
        "eager"
      %}
    <div class="hero__logo">
      <h1><span class="alr">Atelier</span><br>Entrelacs</h1>
      <h2>Tapisserie d'ameublement Fauteuils - rideaux - coussins</h2>
    </div>
          {% image
        "src/assets/img/atelier-entrelacs-volutes-front.png",
        "flfl",
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image__front",
        "eager"
      %}
  </div>
		{% include "partials/site-header.njk" %}
		{% include "partials/drawer.njk" %}


  {#Insta #}
<figure data-behold-id="3bE8LB0sUoPPMIxdqmzc"></figure>
<script src="https://w.behold.so/widget.js" type="module"></script>
  {# Projects #}
  <div class="list-header">
    <h2 class="list-header__title">Projects</h2>
    <a class="btn btn--outline btn--sm" href="/projects">View All</a>
  </div>
  {% from "macros/projectlist.njk" import projectlist %}
  {{ projectlist(projects = collections.project | reverse) }}

  {# Articles #}
  <div class="list-header">
    <h2 class="list-header__title">Articles</h2>
    <a class="btn btn--outline btn--sm" href="/blog">View All</a>
  </div>
  {% from "macros/articlelist.njk" import articlelist %}
  {{ articlelist(
    articles = collections.post | reverse,
    show_tags = false,
    limit = 3
  ) }}
</div>

<script type="text/javascript">

		gsap.to(".hero__image__front", {
			scrollTrigger:{
				trigger: ".hero", 
        start: "top top",
        end: '+=50%',
				scrub: 1
			},
			y: -500,
		})

		gsap.to(".hero__image__front", {
			scrollTrigger:{
				trigger: ".hero",
        start: "top top",
        end: '+=50%',
				scrub: 1,
				markers: true
			},
			y: 100,

		})
	</script>
