---
layout: base.njk
section: page
pagination:
    data: pdv
    size: 1
    alias: pdv
permalink: "restauration-fauteuils-proche-de-{{ pdv.ville | slug | safe }}/"
---
<h1>Travaux de tapisserie d'ameublement proches de {{ pdv.ville }}</h1>
<p>L'Atelier Entrelacs, basé à Rennes, est votre spécialiste en tapisserie d'ameublement. Je célèbre l'histoire et l'unicité de chaque fauteuil en le transformant en une pièce unique et personnalisée. Mon expertise s'étend dans toute la région rennaise, notamment à {{ pdv.ville }}, <a href="../tapisserie-d-ameublement-proche-de-{{ pdv.prox1 | slug | safe }}">{{ pdv.prox1 }}</a> et <a href="../restauration-fauteuils-proche-de-{{ pdv.prox2 | slug | safe }}">{{ pdv.prox2 }}</a>. Grâce à mon soin et mon savoir-faire en réfection de sièges et en confection de rideaux et coussins, je redonne vie à vos meubles tout en respectant leur histoire et leur essence.
<h2>Une approche personnalisée et respectueuse</h2>
<p>Titulaire d'un diplôme d'État en tapisserie, je mets l'accent sur le respect de vos meubles et leur histoire. Je les magnifie grâce à des techniques traditionnelles et contemporaines. Mon offre s'adapte à tous les styles d'assise, préservant leur patrimoine tout en leur offrant une seconde vie. Chaque fauteuil restauré devient une œuvre d'art unique, qui reflète votre personnalité et s'intègre parfaitement dans votre environnement.</p>
<h2>Services pour particuliers</h2>
<h3>Réfection de sièges :</h3>
<p>L'Atelier Entrelacs offre une gamme complète de services pour les particuliers de {{ pdv.ville }}, <a href="../tapisserie-d-ameublement-proche-de-{{ pdv.prox3 | slug | safe }}">{{ pdv.prox3 }}</a> et <a href="../restauration-fauteuils-proche-de-{{ pdv.prox4 | slug | safe }}">{{ pdv.prox4 }}</a>, y compris la réfection de sièges selon des méthodes traditionnelles et contemporaines. Je prends le temps de comprendre l'histoire de chaque meuble et de vous proposer des solutions sur mesure pour les restaurer.</p>
<h3>Confection sur mesure de rideaux et coussins :</h3>
<p>Je réalise également des rideaux et des coussins sur mesure, conçus pour s'harmoniser avec vos fauteuils restaurés et votre décoration intérieure. Je vous conseille sur le choix des tissus et des finitions pour créer des pièces uniques qui reflètent votre style et vos goûts.</p>
<h3>Vente de tissus d'ameublement de qualité :</h3>
<p>L'Atelier Entrelacs propose une sélection de tissus d'ameublement créés par des maisons françaises spécialistes de la décoration. Ces étoffes sont soumises à de nombreux tests pour garantir leur qualité et sont dotées de différentes propriétés techniques (antitache, antifeu, outdoor...).</p>
<h2>Services pour professionnels</h2>
<p>L'Atelier Entrelacs propose des services adaptés aux professionnels de {{ pdv.ville }}, tels que les professions médicales, les entreprises et les collectivités autour de <a href="../tapisserie-d-ameublement-proche-de-{{ pdv.prox5 | slug | safe }}">{{ pdv.prox5 }}</a> et toute la région rennaise.</p>
<h3>Professions médicales :</h3>
<p>Je m'occupe de la réparation de tables d'examen médical, en utilisant du simili cuir conforme aux normes en vigueur.</p>
<h3>Entreprises :</h3>
<p>La confection de rideaux sur mesure et de fauteuils personnalisés ou banquettes, aux couleurs de votre entreprise, peut habiller vos espaces de travail ou vos stands lors de salons et d'événements. Je réalise ces supports de communication conformément à votre cahier des charges et votre identité visuelle.</p>
<h3>Collectivités :</h3>
<p>Je propose des textiles d'ameublement anti-feu répondant aux normes de qualité et de sécurité adaptées à un usage répété au sein des collectivités, des professionnels et de l'hôtellerie.</p>
<h2>Engagement envers la préservation du patrimoine mobilier et la personnalisation à {{ pdv.ville }}</h2>
<p>Je me consacre à la préservation du patrimoine et à la personnalisation des meubles, en les transformant en pièces uniques et sur mesure. Convaincue que chaque fauteuil a une âme et une histoire à raconter, je m'engage à révéler ces histoires en restaurant vos meubles avec passion et attention aux détails.</p>
<h2>Rencontre initiale à {{ pdv.ville }} pour une compréhension approfondie de vos besoins</h2>
<p>Lors de notre première rencontre, nous discutons en détail de votre projet et analysons votre fauteuil ainsi que la pièce dans laquelle il se trouve. Ces échanges me permettent de vous offrir une réponse personnalisée et sur mesure pour la réfection de votre meuble. Cette visite et le devis sont gratuits, et vous pouvez également m'envoyer des photos détaillées de votre fauteuil par ce formulaire.</p>
<h2>L'héritage historique du métier de tapissier</h2>
<p>Le métier de tapissier remonte à la fin du XIIIe siècle, et depuis lors, les artisans ont développé et adapté leurs compétences pour répondre aux besoins changeants de leurs clients. L'Atelier Entrelacs s'inscrit dans cet héritage séculaire, en mélangeant des techniques ancestrales et des tissus contemporains pour restaurer des fauteuils et confectionner des rideaux et des coussins. Je suis fière de perpétuer cet artisanat d'exception et de contribuer à la préservation du patrimoine mobilier de la région rennaise.</p>
<p>En confiant la réfection de vos sièges et la confection de vos rideaux et coussins à L'Atelier Entrelacs, vous pouvez être sûr que vos meubles seront traités avec respect et amour, en les transformant en pièces uniques et personnalisées qui reflètent votre style et votre histoire. Contactez-moi dès aujourd'hui pour obtenir un devis

<div  id="map" style="width:320px; height:320px; position: relative;
    overflow: hidden;">
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1t5qpyT1mkOXLqghKgk0m7pKjx1JyQ1Y&callback=initMap"
async defer></script>


 <script>
    
    var map;
    
    async function fetchJSONData(url){
        var response =await fetch(url)
        if (response.status == 200) {
            let data=await  response.json();
            //console.log(data);
            return data;
        } else {
            throw new HttpError(response);
        }
    }
   function initMap(lat=48.1159343,lng=-1.6884435,city1="{{ pdv.ville }}+Ille-et-Vilaine",
												   city2="Rennes-Metropole",
					  							   citylocal="{{ pdv.ville }}") {
        var myLatLng = {lat: lat, lng: lng};			

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10.5,
            center: myLatLng,
            mapTypeId: 'terrain',
            disableDefaultUI: true,
		

        });
        fetchJSONData("https://nominatim.openstreetmap.org/search.php?q="+city1+"&polygon_geojson=1&format=json")
        .then(function(jsn){
            var type = jsn[0].geojson.type;
            if(type == "MultiPolygon"){
                var cordLen = jsn[0].geojson.coordinates.length;
                for (var j = 0; j < cordLen; j++){
                    var triangleCoords = []; 
                    var len = jsn[0].geojson.coordinates[j][0].length;
                    for(var i = 0; i < len; i++){
                        var obj = new Object();
                        obj.lat = jsn[0].geojson.coordinates[j][0][i][1];
                        obj.lng = jsn[0].geojson.coordinates[j][0][i][0];
                        triangleCoords.push(obj);
                    }
                    var bermudaTriangle = new google.maps.Polygon({
                        paths: triangleCoords,
                        strokeColor: '#4C90D1',
                        strokeOpacity: 0,
                        strokeWeight: 2,
                        fillColor: '#4C90D1',
                        fillOpacity: 0.2
                    });
                    bermudaTriangle.setMap(map);
                }
            }
            else if(type == "Polygon"){
                var len = jsn[0].geojson.coordinates[0].length;
                var triangleCoords = []; 
                for(var i = 0; i < len; i++){
                    var obj = new Object();
                    obj.lat = jsn[0].geojson.coordinates[0][i][1];
                    obj.lng = jsn[0].geojson.coordinates[0][i][0];
                    triangleCoords.push(obj);
                }
                var bermudaTriangle = new google.maps.Polygon({
                  paths: triangleCoords,
                  strokeColor: '#4C90D1',
                  strokeOpacity: 0,
                  strokeWeight: 4,
                  fillColor: '#4C90D1',
                  fillOpacity: 0.5
                });
                bermudaTriangle.setMap(map);
            }
			});
		fetchJSONData("https://nominatim.openstreetmap.org/search.php?q="+city2+"&polygon_geojson=1&format=json")
        .then(function(jsn){
            var type = jsn[0].geojson.type;
            if(type == "MultiPolygon"){
                var cordLen = jsn[0].geojson.coordinates.length;
                for (var j = 0; j < cordLen; j++){
                    var triangleCoords = []; 
                    var len = jsn[0].geojson.coordinates[j][0].length;
                    for(var i = 0; i < len; i++){
                        var obj = new Object();
                        obj.lat = jsn[0].geojson.coordinates[j][0][i][1];
                        obj.lng = jsn[0].geojson.coordinates[j][0][i][0];
                        triangleCoords.push(obj);
                    }
                    var bermudaTriangle = new google.maps.Polygon({
                        paths: triangleCoords,
                        strokeColor: '#4C90D1',
                        strokeOpacity: 0,
                        strokeWeight: 2,
                        fillColor: '#4C90D1',
                        fillOpacity: 0
                    });
                    bermudaTriangle.setMap(map);
                }
            }
            else if(type == "Polygon"){
                var len = jsn[0].geojson.coordinates[0].length;
                var triangleCoords = []; 
                for(var i = 0; i < len; i++){
                    var obj = new Object();
                    obj.lat = jsn[0].geojson.coordinates[0][i][1];
                    obj.lng = jsn[0].geojson.coordinates[0][i][0];
                    triangleCoords.push(obj);
                }
                var bermudaTriangle = new google.maps.Polygon({
                  paths: triangleCoords,
                  strokeColor: '#4C90D1',
                  strokeOpacity: 0,
                  strokeWeight: 4,
                  fillColor: '#4C90D1',
                  fillOpacity: 0.5
                });
                bermudaTriangle.setMap(map);
            }
			});
		
		fetchJSONData("https://nominatim.openstreetmap.org/search.php?q="+citylocal+"&polygon_geojson=1&format=json")
        .then(function(jsn){
            var type = jsn[0].geojson.type;
            if(type == "MultiPolygon"){
                var cordLen = jsn[0].geojson.coordinates.length;
                for (var j = 0; j < cordLen; j++){
                    var triangleCoords = []; 
                    var len = jsn[0].geojson.coordinates[j][0].length;
                    for(var i = 0; i < len; i++){
                        var obj = new Object();
                        obj.lat = jsn[0].geojson.coordinates[j][0][i][1];
                        obj.lng = jsn[0].geojson.coordinates[j][0][i][0];
                        triangleCoords.push(obj);
                    }
                    var bermudaTriangle = new google.maps.Polygon({
                        paths: triangleCoords,
                        strokeColor: '#4C90D1',
                        strokeOpacity: 0,
                        strokeWeight: 2,
                        fillColor: '#4C90D1',
                        fillOpacity: 0.2
                    });
                    bermudaTriangle.setMap(map);
                }
            }
            else if(type == "Polygon"){
                var len = jsn[0].geojson.coordinates[0].length;
                var triangleCoords = []; 
                for(var i = 0; i < len; i++){
                    var obj = new Object();
                    obj.lat = jsn[0].geojson.coordinates[0][i][1];
                    obj.lng = jsn[0].geojson.coordinates[0][i][0];
                    triangleCoords.push(obj);
                }
                var bermudaTriangle = new google.maps.Polygon({
                  paths: triangleCoords,
                  strokeColor: '#4C90D1',
                  strokeOpacity: 0,
                  strokeWeight: 4,
                  fillColor: '#3172B6',
                  fillOpacity: 0.5
                });
                bermudaTriangle.setMap(map);
            }
			});
		}</script>