<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="LYVBr3gnfK1krvf9EurD5ZWTUsbY9ISvoT8pBAtznJc" />
  <title>{{ renderData.title or title or metadata.title or pdv.titlepage }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or summary or metadata.description or pdv.descr}}">
  <link rel="dns-prefetch" href="https://identity.netlify.com">

  {# Canonical URL #}
  {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
  {% endif %}

  {# Third-party scripts #}
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


  {# Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {# CSS #}
  <link rel="stylesheet" href="/assets/css/main.css">

{# Fork Awesome #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">

  {# Javascript #}
  <script async src="/assets/js/main.bundle.js"></script>

  {# Pinterest #}

<meta name="p:domain_verify" content="27707ea45e5afe123acc827a62857d41"/>

  {# Matomo #}


<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://nr-matomo.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

<script>
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.async=true; g.src='https://nr-matomo.com/js/container_4ABGkOi4.js'; s.parentNode.insertBefore(g,s);
</script>

  </head>
